body {
    font-family: Arial, sans-serif;
    background-image: url('https://github.com/Veritho2609/invitacion-boda/blob/main/57a9cab384e7f7ef8edefe4f207e67e6.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6f61;
    color: white;
    text-align: center;
    padding: 2rem 0;
    font-style: italic;
}

main {
    padding: 1rem;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Otros estilos ... */
