/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://Veritho2609.github.io/invitacion-boda/57a9cab384e7f7ef8edefe4f207e67e6.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #FFD700;
    color: #FF0000;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('https://Veritho2609.github.io/invitacion-boda/Fondo3.jpg');
    background-size: cover; /* Ajusta la imagen para que cubra todo el área del encabezado */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el encabezado */
    color: white;
    text-align: center;
    padding: 2rem 0;
    font-style: italic;
}

main {
    padding: 1rem;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.couple .photos img {
    width: 350px !important; /* Ajusta el ancho según lo desees */
    height: auto !important; /* Mantiene la proporción de la imagen */
}

.location-photos .photos img {
    width: 200px; /* Puedes ajustar las imágenes del lugar por separado si deseas */
    height: auto;
}

/* Otros estilos ... */
